body {
    background-image: url(bg-tile.png);
    
    margin:0;
    padding:0;
}

#photo {
    margin-left: auto ;
    margin-right: auto ;
    width: 380px;
    height: 273px;
    background-color: purple;
}

#photo img {
    background-color: red;
}

#bio-icon {
    padding: 5px 5px 5px 10px;
    background-color: #00ab6f;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    position: relative;
    font-style: italic;
}

#resume-icon {
    padding: 5px 5px 5px 10px;
    background-color: #ccf600;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    position: relative;
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}