body {
    background-image: url(bg-tile.png);
    
    margin:0;
    padding:0;
}

#outer {
    width: 100%;
    position: absolute;
    top: 149px;
    background-color: rgba(218, 217, 217, 0.26);    
    
}

#photo {
    margin-left: auto ;
    margin-right: auto ;
    width: 380px;
    height: 300px;
  //  background-color: rgba(128, 0, 127, 0.48);
    position: relative;
}

#photo img {
    left: 10px;
    position: absolute;
    background-color: red;
    width: 50$%;
    height: 100%;    
}

#bio-icon {
    padding: 5px;
    background-color: #00ab6f;
    position: absolute;
    bottom: 60px;
}

#resume-icon {
    padding: 5px;
    background-color: #ccf600;
    position: absolute;
    bottom: 25px;
}

#photo div:hover {
    padding: 5px 5px 5px 10px;
}

a {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    text-decoration: none;
}