body {
    background-image: url(bg-tile.png);
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: left;
    font: bold 75px sans-serif;
        /*line-height: 55px;*/
    position: relative;
    text-transform: lowercase;
}

h2 {
    top: 35px;
    color: silver;
    text-align: left;
    font: bold 75px sans-serif;
    position: relative;
    /*white-space: nowrap;*/
    /*line-height: 55px;*/
    text-transform: lowercase;
}

h1, h2, #container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#outer {
    width: 100%;
    position: absolute;
    top: 149px;
    background-color: rgba(218, 217, 217, 0.26);    
    
}

h3 {
    position: relative;
    background-color: #CC3333;
    padding: 30px 5px 0px 5px;
    font: 25px sans-serif;
    color: #f6dad9;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3.alt {
    background-color: #f6dad9;
    color: #CC3333;
}

p {
    text-align: left;
    padding: 10px 30px 30px;
    font: 18px "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #5c5c5c;
}

ul p {
    text-align: justify;
}

ul {
    list-style-type: none;
}

em {
    background-color: black;
    color: white;
}

ul il {
    display: inline;
}

li {
    padding: 10px 30px;
    font: 18px "Lucida Grande", Lucida, Verdana, sans-serif;
    margin-top: 10px;
    color: gray;
    background-color: rgba(216, 216, 216, 0.2);
}

#container {
    /*height: 300px;*/
    /*background-color: silver;*/
    /*height: auto;*/
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#container img {
    /*position: absolute;*/
    width: 100%;
        /*height: 100%;    */
}

#bio-icon {
    padding: 5px;
    background-color: #00ab6f;
    position: absolute;
    top: 60px;
}

a #bio-icon{
    color: #ccf600;
}

a #resume-icon{
    color:  #008b6f;
}

#resume-icon {
    padding: 5px;
    background-color: #ccf600;
    position: absolute;
    top: 25px;
}

#container div:hover {
    padding: 5px 5px 5px 10px;
}

a {
    font-size: 2em;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}